
body{
    background-color: #fff;
    font-family: 'Prompt', sans-serif;
}


a{
    color: #fff;
}

a:hover{
    text-decoration: none;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ================================ NAVBAR  =============================================== */

.custom-navbar{
    background-color: #fff;
    box-shadow: 0px 3px 8px #d2f1ff;
}

.img-brand{
    width: 90px;
}

.nav-link.active{
    color: #26CBFF !important;
}

.menu-desktop{
    display: block;
}

.menu-mobile.collapse:not(.show){
    display: none !important;
}

.menu-desktop .nav-item:hover .nav-link,
.menu-mobile .nav-item:hover .nav-link,
.menu-mobile .sub-menu-list:hover{
    color: #26CBFF !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: unset;
}

.dropdown-wrapper{
    font-weight: 500;
    color: #5e5e5e !important;
}

.dropdown-hover{
    display: none;
    top: 35px;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 2px 6px 0px #d0d0d0;
    z-index: 1;
    border: none;
}

.dropdown:hover .dropdown-hover{
    display: block;
}

.dropdown-list{
    color: #3b3b3b !important;
    min-height: 40px;
    display: flex;
    align-items: center;
}

.dropdown-list:hover{
    color: #26cbff !important;
    background-color: #f4f4f4;
}

.search-icon{
    background-color: unset;
    border: none;

}

.search-icon:hover i{
    color: rgba(0, 0, 0, .7);
}

.search-icon i{
    color: rgba(0, 0, 0, .5);
    font-size: 20px;
}

.collapse-sub-memu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    min-height: 45px;
    color: #5e5e5e !important;
}

.menu-mobile .sub-menu-list{
    font-weight: 500;
    min-height: 35px;
    color: #5e5e5e !important;
    display: flex;
    align-items: center;
}


/* ================================ END NAVBAR  =============================================== */


/* ================================ TOP SECTION  =============================================== */


.section-trending{
    width: 100%;
    height: 500px;
    padding-bottom: 50px;
}

.section-trending .trending-left,
.section-trending .trending-right{
    padding: 0px 2px;
    height: 100%;
}

.trending-right-top,
.trending-right-bottom{
    height: 50%;
}

.section-trending .sm-box{
    padding: 2px 2px 0px 0px;
}

.section-trending .sm-box-2{
    padding: 2px 0px 0px 2px;
}

.section-trending .sm-box,
.section-trending .sm-box-2{
    height: 100%;
}

.trending-item{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.trending-item:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 40%, rgb(0,0,0)100%);
    opacity: 0.7;
    transition: opacity .2s ease-out;
}

.trending-item:hover:after{
    background: linear-gradient(to bottom, transparent 40%, rgb(0,0,0)100%);
    opacity: 0.9;
}

.section-trending .img-trending{
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.section-trending .trending-header{
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    z-index: 1;
    transition: all .25s ease-out;
}

.section-trending .trending-header:hover{
    -ms-transform: translate(0,-10px);
    transform: translate(0,-10px);
}

.section-trending .title-left{
    color: #e8e8e8;
    transition: all .15s ease-out;
}

.section-trending .box-right .title-left{
    font-size: 23px;
}

.section-trending .sm-box .title-left,
.section-trending .sm-box-2 .title-left{
    font-size: 18px;
    font-weight: 500;
}

.section-trending .title-left:hover{
    color: #26cbff;
}

.section-trending .ribbon-trending{
    position: absolute;
    top: 20px;
    left: 35px;
    font-size: 18px;
}

.section-trending .ribbon-trending span{
   font-family: 'Poppins', sans-serif;
   color: #fff;
   font-weight: 600; 
   z-index: 1;
   border-bottom: 2px solid #fff;
}

.section-trending .ribbon-trending i{
    color: #ff8c0e;
 }


/* ================================ END TOP SECTION  =============================================== */


/* ================================ SECTION LIFESTYLE =============================================== */

.section-lifestyle,
.section-tech,
.section-ent,
.section-ww{
    margin-bottom: 50px;
}

.section-lifestyle .header-category{
    border-bottom: 2px solid #26CBFF;
    margin-bottom: 15px;
}

.category-title{
    display: inline-block;
    padding: 3px 15px;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    letter-spacing: .2px;
    text-transform: uppercase;
}

.category-title.life{
    background-color:#26CBFF;
}

.section-lifestyle .first-item .img-lifestyle{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.section-lifestyle .first-item .card-title{
    font-weight: 600;
    font-size: 1.5rem;
    color: #1b1c1e;
}

.section-lifestyle .first-item .card-text,
.section-tech .tech-item .card-text{
    color: #565656;
    font-size: 14px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.info-post{
    display: flex;
    flex-wrap: wrap;
}

.info-post .post-author,
.info-post .post-date,
.info-post span{
    display: flex;
    align-items: center;
    color: #9E9E9E;
    font-size: 13px;
    margin-bottom: 10px;
}

.card-link-img{
    -webkit-transition : -webkit-filter .4s ease-out
}

.card-link-img:hover{
    filter: brightness(0.6);
}


.card-link:visited{
    color: #000;
}

.card-link .card-title{
    transition: all .2s ease-out;
}

.card-link:hover .card-title{
    color: #26CBFF;
}

.section-lifestyle .card-items{
    border: none;
}

.section-lifestyle .card-items:not(:first-child){
    border-top: 1px solid #D9D9D9;
    padding-top: 15px;
}

.section-lifestyle .card-items .card-title{
    font-size: 15px;
    color: #1b1c1e;
}

.section-lifestyle .img-life{
    width: 100%;
    height: 100px;
    object-fit: cover;
}




/* ================================ END SECTION LIFESTYLE  =============================================== */

/* ================================ SECTION TECH  =============================================== */

.section-tech .header-category {
    border-bottom: 2px solid #262DFF;
    margin-bottom: 15px;
}

.category-title.tech{
    background-color: #262DFF;
}

.section-tech .tech-item .img-tech{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.section-tech .tech-item .card-title{
    font-weight: 600;
    font-size: 1.5rem;
    color: #1b1c1e;
}


/* ================================ END SECTION TECH  =============================================== */


/* ================================ SECTION ENTERTAINMENT  =============================================== */

.section-ent .header-category {
    border-bottom: 2px solid #B632EE;
    margin-bottom: 15px;
}

.category-title.ent{
    background-color: #B632EE;
}

.section-ent .ent-wrapper{
    height: 250px;
    padding: 0px 1px 2px 1px ;
}

.section-ent .ent-list{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.section-ent .ent-list:visited{
    color: #000;
}

.section-ent .ent-list:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}

.section-ent .img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all .4s ease-out;
}

.section-ent .ent-list:hover .img-cover{
    transform: scale(1.2);
}

.section-ent .text-overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
}

.section-ent .ent-info{
    color: #fff;
    font-weight: 500;
}

.section-ent .text-wrapper .ent-date{
    font-weight: 600;
    color: #E40707;
}

.section-ent .ent-info .cate,
.section-ent .ent-info .tag{
    color: #F9EC2D;
    font-weight: 500;
    font-size: 1rem;
}

.section-ent .ent-title{
    font-size: 1.25rem;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 0;
    transition: all .2s ease-out;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.section-ent .ent-title:hover{
    color: #F9EC2D;
}



/* ================================ END SECTION ENTERTAINMENT  =============================================== */


/* ================================ SECTION WORLDWIDE  =============================================== */

.section-ww .header-category {
    border-bottom: 2px solid #34E658;
    margin-bottom: 15px;
}

.category-title.ww{
    background-color: #34E658;
}

.section-ww .ww-link-img {
    height: 200px;
}

.section-ww .ww-wrapper .img-ww{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.4s ease-out;
}

.section-ww .ww-link-img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    mix-blend-mode: color;
    opacity: 0;
    transition: opacity .4s ease-out;
    background-color: rgb(83, 238, 122, .4);
}

.section-ww .ww-link-img:hover:after{
   opacity: 1;
}


.section-ww .ww-wrapper .ww-body{
    padding-left: 0;
    padding-right: 0;
}

.section-ww .ww-wrapper .ww-body .ww-title-link:visited{
    color: #000;
}

.section-ww .ww-wrapper .ww-body .ww-title-link:hover .card-title{
    color: #34E658;
}

.section-ww .ww-wrapper .ww-body .card-title{
    font-size: 1.25rem;
    transition: all .2s ease-out;
    margin-bottom: 5px;
    font-weight: 600;
    color: #1b1c1e;
}

.section-ww .info-post .post-author, 
.section-ww .info-post .post-date, 
.section-ww .info-post span {
    font-size: 12px;
}


/* ================================ END SECTION WORLDWIDE  =============================================== */



/* ================================ SECTION LASTEST  =============================================== */

.section-lastest .header-category {
    border-bottom: 2px solid #828282;
    margin-bottom: 15px;
}

.category-title.lastest{
    background-color: #828282;
}

.section-lastest .lastest-items{
    border: 0;
}

.section-lastest .lastest-items .inner-body-wrapper {
    min-height: 170px;
}

.section-lastest .lastest-items .inner-body-wrapper {
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 15px;
}

.section-lastest .lastest-link-img{
    transition: all 0.4s ease-out;
}

.section-lastest .lastest-link-img:hover .img-lastest{
    filter: contrast(0.4);
}

.section-lastest .lastest-link-img .img-lastest{
    height: 175px;
    width: 100%;
    object-fit: cover;
    transition: all 0.4s ease-out;
}

.section-lastest .lastest-link{
    transition: all 0.4s ease-out;
}

.section-lastest .lastest-link:hover{
 text-decoration: underline;
}

.section-lastest .lastest-link:visited{
    color: #000;
}

.section-lastest .lastest-link .card-title{
    font-size: 1.25rem;
    color: #1b1c1e;
}

.section-lastest .lastest-items .info-post{
    font-size: 1.5rem;
}

.section-lastest .lastest-items .card-text{
    font-size: 0.875rem;
    color: #7f7f7f;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.btn-load{
    text-align: center;
    padding: 10px 0px;
}

.btn-more{
    background-color: transparent;
    border: 2px solid #26cbff;
    border-radius: 0px;
    color: #26cbff;
    font-family: 'Poppins', sans-serif;
    padding: .375rem 1rem;
    transition: all 0.4s ease-out;
}

.btn-more:hover{
    background-color: #26cbff;
    border: 2px solid #26cbff;
    color: #fff;
}

.btn-more:focus{
    border: 2px solid #26cbff;
}



/* ================================ END SECTION LASTEST  =============================================== */



/* ================================ SIDEBAR  =============================================== */


.scroll-fixed{
    position: fixed;
    top: 0;
    width: 350px;
}

.sidebar-contact{
    padding: 10px 0px 50px 0px;
}

.sidebar-contact .header-contact {
    padding-bottom: 15px;
}

.sidebar-contact .header-contact .header-title{
    font-size: 1.25rem;
    color: #1b1c1e;
    font-weight: 500;
}

.sidebar-contact .header-contact .line-center{
    background-color: #26cbff;
    width: 45%;
    height: 2px;
    margin-left: 10px;
}

.sidebar-contact .fb-wrapper .fb-page{
    text-align: center;
    display: block;
}

.popular-wrapper .header-popular{
    padding: 5px 15px;
    background-color: #F24113;
    margin-bottom: 10px;
}

.header-popular .popular-text{
    color: #fff;
    font-size: 1.25rem;
}

.header-popular .popular-text i{
    color:#EAF825
}

.popular-content .popular-box{
    padding: 25px 0px;
    border-bottom: 1px solid #ccc;
}

.popular-box .popular-link-img{
    position: relative;
    display: block;
}

.popular-box .popular-link-img:hover .popular-img{
    filter: saturate(1.5);
}

.popular-box .popular-img{
    height: 120px;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s ease-out;
}

.popular-box .popular-img.first{
    height: 160px;
}

.popular-box .number-overlay{
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #26CBFF;
    color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.popular-box .number-overlay.small{
    height: 25px;
    width: 25px;
    font-size: 13px;
}


.popular-box .popular-detail{
    padding-top: 10px;
}

.popular-detail .popular-title-link:hover .popular-title{
    color: #26CBFF;
}

.popular-box .popular-detail .popular-title{
    font-size: 0.875rem;
    color: #1b1c1e;
    transition: all 0.2s ease-out;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.popular-box .popular-detail .popular-title.first{
    font-size: 1.125rem;
    letter-spacing: 0px;
    line-height: 1.2;
}




/* ================================ END SIDEBAR  =============================================== */




@media screen and (max-width: 1199.98px){

    .section-trending .trending-left .title-left,
    .section-trending .box-right .title-left {
        font-size: 1.5rem;
    }

    .scroll-fixed{
        width: 290px;
    }

}


@media screen and (max-width: 991.98px){

    .navbar-light .navbar-nav .nav-item:not(:last-child){
        border-bottom: 1px solid #ccc;
    }

    .menu-desktop{
        display: none;
    }

    .section-trending .trending-left,
    .section-trending .trending-right {
        padding: 0px 2px 2px 0px;
        height: 50%;
    }

    .section-trending{
        height: 1150px;
    }

    .section-lifestyle .first-item .card-title,
    .section-tech .tech-item .card-title  {
        font-size: 1.5rem;
    }

    .sidebar{
        padding: 50px 0px;
    }

    .popular-box .popular-img.first {
        height: 300px;
    }

    .popular-box .popular-img {
        height: 170px;
    }
}

@media screen and (max-width: 767.98px){

    .section-lifestyle .first-item .img-lifestyle {
        height: 50vw;
    }

    .section-lifestyle .img-life {
        height: 20vw;
    }

    .section-tech .tech-item .img-tech{
        height: 28vw;
    } 

}


@media screen and (max-width: 575.98px){

    .section-trending .trending-left{
        height: 25%;
    } 
    
    .section-trending .trending-right {
        height: 75%;
    }

    .trending-right-top{
        height: 33.3%;
    }

    .trending-right-bottom{
        height: 66.6%;
    }

    .section-trending .sm-box,
    .section-trending .sm-box-2{
        height: 50%;
    }

    .section-lifestyle .first-item .card-title,
    .section-tech .tech-item .card-title  {
        font-size: 1.25rem;
    }

    .info-post .post-author, 
    .info-post .post-date, 
    .info-post span {
        font-size: 12px;
    }

    .section-ent .ent-title,
    .section-ww .ww-wrapper .ww-body .card-title,
    .section-lastest .lastest-link .card-title {
        font-size: 1rem;
    }

    .section-lastest .lastest-items .card-text {
        font-size: 0.75rem;
    }

    .popular-box .popular-img.first {
        height: 220px;
    }

    .popular-box .popular-img {
        height: 150px;
    }

}